body {
  font-family: "Inter", sans-serif;
  background-color: #ff7171;
}

h1 {
  color: #310b0b;
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}

ul {
  margin-top: 5px;
  padding: 0;
}

li {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  color: #310b0b;
  font-size: 18px;
  line-height: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

li strong {
  color: #ff7171;
}

img {
  margin-right: 0px;
  height: 100px;
  width: 100px;
  line-height: 1.25;
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.forecast-day {
  font-size: 16px;
  color: #310b0b;
  opacity: 0.6;
}

.forecast-temp {
  font-size: 15px;
  color: #310b0b;
}

.forecast-temp-min {
  opacity: 0.5;
}

.container {
  margin-top: 30px;
  max-width: 700px;
}

#temperature {
  font-size: 75px;
  color: #310b0b;
  line-height: 1.25;
}

.p-2 .bd-highlight {
  padding: 0;
}

.units {
  position: relative;
  color: #310b0b;
  line-height: 1;
  top: -38px;
  font-size: 28px;
}

.weather-app {
  padding: 35px;
  border: 1px solid #310b0b;
  border-radius: 5px;
  background-color: white;
  box-shadow: ;
}

#search-form {
  height: 40px;
}
.weather-btn {
  background-color: #ff7171;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
}

.summary {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: #ff7171;
  cursor: default;
}

a:hover {
  text-decoration: none;
  color: #ff7171;
}

.units {
  text-decoration: none;
  color: #310b0b;
}
