body {
  font-family: 'Inter', sans-serif;}

  h1 {
    color: #310B0B;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;  
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    color: #310B0B;
    font-size: 18px;
    line-height: 20px;
  }


.weather-app-box {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #F0E4D7;
  border-radius: 5px;
}

#search-form {
  height: 40px;
}
.weather-btn {
  background-color: #FF7171;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px
}

.summary {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}